@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Title</h1>
<!DOCTYPE html>

<html>

<body class="image">
    <style>

        .image {
            background-image: url(../../Content/Images/ICL.jpg);
            background-size: cover;
            height: 100%;
        }

        .wordsise {
            font-family: 'Times New Roman';
            font-size: 24px;
            color: black;
            background-color: white;
            opacity: 0.82;
            color: black; 
        }

        p {
            text-indent: 25px;
            padding: 20px;
        }

        h1 {
            padding-left: 20px;
        }
       
    </style>

    <table class="wordsise">
        <tr>
            <td width="750">
                <p>ICL — высокотехнологичная, динамично развивающаяся группа компаний,
                входящая в число крупнейших ИТ-компаний России, предоставляющая весь
                спектр ИТ-услуг, проектов, решений и продуктов. Компания была основана
                в 1991 году на базе завода ЭВМ Казанским производственным объединением
                вычислительных систем (КПО ВС) и британской компанией International
                Computers Limited (ICL) как совместное предприятие. В середине XX века
                казанский завод ЭВМ стоял у истоков новой отрасли отечественного электронного
                машиностроения — вычислительной техники, и по мере своего развития стал признанным
                лидером отрасли в СССР.</p>

                <p>С 2002 по 2013 группа компаний ICL входила в группу компаний Fujitsu, а на данный
                момент компании являются партнерами.</p>

                <p>Расширение горизонтов в отрасли ИТ, собственные лаборатории и инновационные разработки,
                фокус на передовых технологиях — вот что сегодня делает ICL одним из лидирующих
                предприятий в России. Стратегическое сотрудничество с крупнейшими глобальными
                ИТ-компаниями и владение передовыми технологиями позволяют заказчикам ICL получить доступ
                к новейшим разработкам и реализовывать конкурентные преимущества на рынке.
                Постоянное обучение, сотрудничество с ведущими научно-образовательными заведениями,
                совершенствование инструментальной базы и непрерывное развитие собственных компетенций
                являются приоритетом номер один и основой для устойчивого и планомерного развития потенциала
                группы компаний.</p>

            </td>
        </tr>
    </table>

    
    

</body>

</html>
