@{
    ViewBag.Title = "Home Page";
}

<style>
    .image {
            background-image: url(../../Content/Images/ICL.jpg);
            background-size: cover;
            height: 100%;
        }
</style>

<body class="image"></body>

