

@{
    ViewBag.Title = "Admin Главная";
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}

<style>
    .image {
        background-image: url(../../Content/Images/ICL.jpg);
        background-size: cover;
    }

</style>

<body>
    <img src="~/Content/Images/ICL.jpg" class="image" />


</body>

